{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@nestjs",
    "^@(?!nestjs)[^/]+",
    "^@app/(.*)$",
    "^@common/(.*)$",
    "^@config/(.*)$",
    "^@modules/(.*)$",
    "^@shared/(.*)$",
    "^@core/(.*)$",
    "^@interfaces/(.*)$",
    "^@decorators/(.*)$",
    "^../../(.*)",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
